.tabs{
	@extend .container;
	background: url('../img/bg.png') no-repeat #292d3e;
	padding-top: 145px;
	&__wrap{
		width: 602px;
		height: 543px;
		margin: 0 auto;
		box-shadow: 0 23px 57px rgba(0, 0, 0, 0.4);
		background-color: #212534;
	}
	&__header{
    height: 117px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #262836;
    margin-bottom: 58px;
    padding: 0 65px;
    &-block{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			height: 100%;
			opacity: .7;
			position: relative;
			&--active{
				@include activeTitle();
			}
			&:hover{
				@include activeTitle();
			}
    }
    &-img{
    	width: 26px;
    	height: 26px;
    	margin-bottom: 10px;
    }
    &-text{
    	color: #fbfbfb;
			font-family: 'Lato', sans-serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 28px;
			text-transform: uppercase;
    }
	}

	&__body{
		display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
		margin: 0 41px;
		&--inactive{
			display: none;
		}
	}
}

